.navbar {
    display: flex;
    height: 57px;
    width: 100%;
    top: 0px;
    left: 0px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 5px #0000001A;
    opacity: 1;
    z-index: 10;
}

#logo {
    width: 120px;
    height: 30px;
    margin-top: 16px;
    margin-left: 30px;
    background: transparent url("../images/logo.svg") 0% 0% no-repeat
      padding-box;
    opacity: 1;
    background-size: 90px;
}

.sidebar {
    background: #414141;
    width: 60px;
    height: 707px;
}

.navigation {
    width: 180px;
    background: #f7f7f7;
}

.sixteen {
    margin-top: 100px;
    text-align: center;
    cursor: pointer;
}

.hub {
    margin-top: 32px;
    text-align: center;
    cursor: pointer;
}

.clear-gui {
    margin-top: 32px;
    text-align: center;
    cursor: pointer;
}