.sixteen-gui {
    display: flex;
    width: 1000px;
    height: 588px;
    background: #212121
}

.sixteen-navigation {
    width: auto;
    height: 100%;
}

.sixteen-navigation.advanced {
    display: none;
}

/* Navigation Buttons*/
.navigation-btns {
    width: 180px;
    height: 190px;
    background: rgb(66, 66, 66);
}

.navigation-btns:hover {
    cursor: pointer;
}

.home-icon-div {
    width: 90px;
    height: 90px;
    background: transparent url("../images/icon-home.svg") 0% 0% no-repeat
      padding-box;
    opacity: 1;
    background-size: 90px;
}

#sixteen-navigation-home {
    margin-bottom: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sixteen-navigation-home.active {
    width: 175px;
    border-right: 5px solid #0da9ff;
}

.home-icon-div.active {
    margin-left: 5px;
 }

#sixteen-navigation-aim {
    font-size: 48px;
    font-weight: 900;
    font-style: italic;
    color: #fff;
    margin-bottom: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sixteen-navigation-aim.active {
    width: 175px;
    border-right: 5px solid #0da9ff;
}

.aim-icon-div.active {
    margin-left: 5px;
}

#sixteen-navigation-settings {
    margin-top: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sixteen-navigation-settings.active {
    width: 175px;
    border-right: 5px solid #0da9ff;
}

.settings-icon-div {
    width: 90px;
    height: 90px;
    background: transparent url("../images/gear-icon.png") 0% 0% no-repeat
      padding-box;
    opacity: 1;
    background-size: 90px;
}

.settings-icon-div.active {
    margin-left: 5px;
}

/* Sixteen Home Screen Container*/
.sixteen-home-container {
    width: 100%;
    height: 100%;

}

/* Home container - Specialty, Ccu Functionality, Autolight/Defog*/
.home-containers{
    width: 100%;
    height: 33.33%;
}

/* Specialty Window Container */
.arrow-specialty-container {
    width: 99%;
    height: 90px;
    display: flex;
    justify-content: center;
    background: #212121;
}

#specialty-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Specialty Window */
.specialty-name {
    color: #fff;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 90px;
    background: #424242;
}

.arrow-div {
    width: 35px;
    height: 70px;
}

.arrow-div:hover {
    cursor: pointer;
}

#left-arrow-div {
    background: transparent url("../images/left-arrow.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 35px;
   
}

.specialty-window-container {
    padding-top: 120px;
    height: 100%;
   
}

.specialty-window-div {
    min-width: 500px;
    overflow: hidden;
    background-color: #000;
    border: 3px solid #424242;
}

.specialty-name.show {
    display: block;
    font-family: roboto;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
    color: #fff;
}

.specialty-name {
    display: none;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 90px;
    background: #424242;
}

.arrow-container:hover {
    cursor: pointer;
}

#right-arrow-div {
    background: transparent url("../images/right-arrow.png") 0% 0% no-repeat
      padding-box;
    opacity: 1;
    background-size: 35px;
}

/* Specialty Dots Container */
.dots-container {
    display: flex;
    justify-content: center;
    width: 95%;
    margin-top: 8px;
}

.dot-div {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 16px 8px;
    background-color: #37474f;
    border: 1px solid #bbb;
    border-radius: 50%;
    transition: 0.2s;
}

.dot-div.selected {
    background-color: #0da9ff;
   
}
.dot-div:hover {
   cursor: pointer;
   background-color: #0da9ff;
   transition: 0.2s;
}

/* CCU Functions */
#autolight-defog-container {
    height: auto;
}
#ccu-functions-container {
    max-width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 16px;
   
    
}
.function-btn-container {
    cursor: pointer;
    width: 160px;
    height: 120px;
    background: #424242;
    margin-top: auto;
}

#ccu-camera-img-div {
    width: 120px;
    height: 120px;
    margin-top: 25px;
    margin-left: 40px;
  
    background: transparent url("../images/camera-icon.png") 0% 0% no-repeat
      padding-box;
    opacity: 1;
    background-size: 80px;

}

#ccu-video-img-div {
    width: 120px;
    height: 120px;
    margin-top: 30px;
    margin-left: 35px;
  
    background: transparent url("../images/video-icon.png") 0% 0% no-repeat
      padding-box;
    opacity: 1;
    background-size: 95px;
}

/* Autolight defog Container*/
#autolight-defog-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 93%;
    height: 150px;
}

.wb-text {
    font-family: roboto;
    font-size: 60px;
    font-weight: 500;
    display:flex;
    justify-content: center;
    margin-top: 25px;
    color: #fff;
}
.defog-autolight-containers {
    margin-top: auto;
}

#defog-container {
    width: 50px;
    height: 50px;
    background: transparent url("../images/defog.png") 0% 0% no-repeat
      padding-box;
    opacity: 0.2;
    padding-bottom: 30px;
    background-size: 50px;
   
}

#autolight-circle-div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    /* background: #0da9ff; */
    background: #37474f;
    border-radius: 50%;
    border: 2px solid #0da9ff;
    transition: 0.2s;
}

#autolight-img-div {
    width: 40px;
    height: 40px;
    background: transparent url("../images/lightbulb-icon.png") 0% 0% no-repeat
      padding-box;
    opacity: 0.5;
    background-size: 40px;
    transition: 0.2s;
  }

  #autolight-circle-div.autolight-active{
    background: #0da9ff;
    opacity: 1;
    transition: 0.2s;
  }

  #autolight-img-div.autolight-active {
  opacity: 1;
  transition: 0.2s;
  }

  #spy-autolight-img-div {
    width: 40px;
    height: 40px;
    background: transparent url("../images/lightbulb-icon.png") 0% 0% no-repeat
      padding-box;
    opacity: .5;
    margin-top: 2px;
    background-size: 40px;
  }

  #spy-autolight-img-div.autolight-active{
    opacity: 1;
    transition: 0.2s;
  }

  #settings-autolight-circle.autolight-active{
    background: #0da9ff;
    opacity: 1;
    transition: 0.2s;
  }

  #settings-autolight-image.autolight-active {
    opacity: 1;
    transition: 0.2s;
  }


.autolight-text {
    color: #fff;
    font-family: roboto;
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
    /* margin-left: 8px; */
    text-align: center;
}

/* AIM Home Screen*/
.aim-home-container {
    Width: auto;
}

.aim-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 99%;
    height: 75px;
    background: #424242;
    font-family: roboto;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
}

.aim-modality-container {
    margin-top: 25px;
    width: 100%;
    height: auto;
}

.modality-dots-container {
    display: flex;
    justify-content: center;
    width: 95%;
    height: 100px;
    margin: 0 auto;
    margin-top: 8px;
}


.modality-arrow-container {
    width: 99%;
    height: 90px;
    display: flex;
    justify-content: center;
    background: #212121;
}

.aim-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 90px;
    background: #424242;
}

.aim-modality-screen {
    min-width: 500px;
    overflow: hidden;
    background-color: #000;
    border: 3px solid #424242;
}

.modality-name {
    display: none;
}

.modality-name.show-modality {
    display: block;
    font-family: roboto;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
    color: #fff;
}

.aim-arrow-div {
    cursor: pointer;
    width: 35px;
    height: 70px;
}

#aim-left-arrow-div {
  background: transparent url("../images/left-arrow.png") 0% 0% no-repeat padding-box;
  opacity: 1;
  background-size: 35px;
}

#aim-right-arrow-div {
    background: transparent url("../images/right-arrow.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 35px;
  }
.modality-dot-div {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 16px 8px;
    background-color: #37474f;
    border: 1px solid #bbb;
    border-radius: 50%;
    transition: 0.2s;
}

.modality-dot-div.selected {
    background-color: #0da9ff;
   
}
.modality-dot-div:hover {
   cursor: pointer;
   background-color: #0da9ff;
   transition: 0.2s;
}

/* Gain Brightness */
.gain-brightness-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.gain-container {
    width: auto;
    height: 70px;
    
}

.brightness-container {
    width: auto;
    height: 70px;
}

.brightness-div {
    display: flex;
    width: 100%;
    height: 70px;
}

.brightness-text {
    font-family: roboto;
    font-size: 25px;
    font-weight: 400;
    padding-top: 4px;
    color: #fff;
}

.gain-div {
    display: flex;
    width: 100%;
    height: 70px;
   
}

.gain-text {
    font-family: roboto;
    font-size: 25px;
    font-weight: 400;
    padding-top: 4px;
    color: #fff;
}

.gain-setting {
    display:none; 
}

.gain-setting.gain-setting-show {
    display: block;
    font-family: roboto;
    font-size: 35px;
    font-weight: 400;
    padding-top: 4px;
    text-align: center;
    padding: 12px 0px;
    color: #fff; 
}

.brightness-setting {
    display: none;
}

.brightness-setting.brightness-setting-show {
    display:block;
    font-family: roboto;
    font-size: 35px;
    font-weight: 400;
    padding-top: 4px;
    text-align: center;
    padding: 12px 0px;
    color: #fff; 
}

.minus-div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    height: 70px;
    background: #424242
}

.gain-screen-div {
    min-width: 150px;
    background: #212121;  
    border: 3px solid #424242;
    overflow: hidden;
}

.brightness-screen-div {
    min-width: 150px;
    background: #212121;  
    border: 3px solid #424242;
    overflow: hidden;
}

.plus-div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    height: 70px;
    background: #424242
}

.minus-img-div {
    width: 40px;
    height: 10px;
    background: transparent url("../images/minus-sign.png") 0% 0% no-repeat
      padding-box;
    background-size: 40px;
}

.plus-img-div {
    width: 40px;
    height: 40px;
    background: transparent url("../images/plus-sign.png") 0% 0% no-repeat
      padding-box;
    background-size: 40px;
}

/* Spy Autolight Container*/
.spy-auto-container{
    display: flex;
    margin: auto;
    margin-top: 100px;
    width: 95%;
    height: 70px;

}

.spy-defog-autolight-containers {
    margin-left: auto;
    margin-top: -14px;
    margin-right: 8px;
}

.spy-text-toggle-container {
    width: 40%;
    margin-top: -25px;
    margin-left: 10px;
}


.spy-text {
    font-family: roboto;
    font-size: 25px;
    font-weight: 400;
    padding-top: 4px;
    color: #fff;
}

.spy-toggle-container {
    cursor: pointer;
    display: flex;
    height: 70px;
    width: 80%;
   border: 2px solid #424242;
   background: #212121
}

.spy-toggle-off {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 50%;
    font-family: roboto;
    font-size: 25px;
    font-weight: 400;
    background: #424242;
    color: #fff;
    transition: 0.2s;
}

.spy-toggle-off.spy-on{
    background: #212121;
    transition: 0.2s;
}

.spy-toggle-on {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 50%;
    font-family: roboto;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    transition: 0.2s;
}

.spy-toggle-on.spy-on {
    background: #0da9ff;
    transition: 0.2s;
}

/* Settings Page */
.setting-home-container {
    display:flex;
    width: 100%;
    height: 100%;
}

.settings-divs-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 100%;
}

.settings-autolight-container{
    width: 30%;
}


.settings-autolight-text-div {
 max-width: 85px;
 margin-left: auto;
 margin-top: 184.9%;
 margin-right: 23px;

    
}

.settings-autolight-circle {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background: #37474f;
    border-radius: 50%;
    border: 2px solid #0da9ff;
    transition: 0.2s;
}

#settings-autolight-image {
    width: 40px;
    height: 40px;
    background: transparent url("../images/lightbulb-icon.png") 0% 0% no-repeat
      padding-box;
    opacity: 0.5;
    margin-left: 2px;
    background-size: 40px;
    transition: 0.2s;
}

.settings-autolight-text{
    color: #fff;
    font-family: roboto;
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
    margin-left: -5px;
    text-align: center;
}

.settings-window-div {
    min-width: 150px;
    max-height: 64px;
    background: #212121;  
    border: 3px solid #424242;
    overflow: hidden;
}

.settings-setting-value.settings-setting-show {
    display: block;
    font-family: roboto;
    font-size: 35px;
    font-weight: 400;
    padding-top: 4px;
    text-align: center;
    padding: 12px 0px;
    color: #fff; 
}

.settings-setting-value {
    display: none;
}

.settings-setting-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.settings-setting-container {
    display: flex;
    flex-direction: column;
}

.plus-window-minus-div {
    display: flex;
}

.settings-setting-title {
    font-family: roboto;
    font-size: 25px;
    font-weight: 400;
    padding-top: 4px;
    color: #fff;
}

/* Text Modal */
.modal {
    position: fixed;
    top: 54%;
    left: 60%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out;
    background-color:#000;
    border: 1px solid #000;
    border-radius: 10px;
    z-index: 10;
    width: 800px;
    max-width: 90%;
    min-height: 400px;
    overflow-y: scroll;
  }

  .modal-header {
      background: #424242;
      height: 60px;
  }

  .modal-close {
      cursor: pointer;
      font-size: 42px;
      padding-top: 4px;
      padding-left: 16px;
      color: #fff;
  }

  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .settings-btns-div {
      display: flex;
      justify-content: space-around;
      margin-top: 20%;
  }

  .settings-btn {
      cursor: pointer;
      min-width: 120px;
      padding: 16px 24px;
      background: #424242;
      text-align: center;
      border-radius: 5px;
      border: 2px solid #0da9ff;
      color: #fff;
  }

  /* Advanced Settings */

  #advance-setting-home-container {
      display: flex;
      flex-direction: column;
  }
.advanced-settings-title-div{
    display: flex;
    height: 75px;
    width: 100%;
    background: #424242
}

.advanced-settings-btns-div {
    height: 100%;
    width: 100%;
}

.advanced-title-text{
    color: #fff;
    font-size: 42px;
    margin-left: auto;
    margin-top: 16px;
}

.advanced-exit-btn {
    margin-left: auto;
    margin-right: 32px;
    margin-top: -2px;
    font-size: 60px;
    font-weight: 100;
    color: #fff;
    cursor: pointer;
}

.advanced-settings-btns-div {
    display: flex;
    flex-wrap: wrap;
    max-width: 85%;
    max-height: 75%;
    margin: auto;
}

.advanced-settings-btn-container {
    cursor: pointer;
    width: 200px;
    height: 175px;
    background: #424242;
    margin: 20px 40px;
}

.advanced-settings-btn-img {
   background: #fff;
}

#Button-btn-img {
    margin: 16px auto;
    width: 100px;
    height: 100px;
    background:  transparent url("../images/btn-img.png") 0% 0% no-repeat
      padding-box;
    background-size: 100px;
}

#Options-btn-img {
    margin: 16px auto;
    width: 100px;
    height: 100px;
    background:  transparent url("../images/wrench.png") 0% 0% no-repeat
      padding-box;
    background-size: 100px;
}

#Advanced-btn-img {
    margin: 16px auto;
    width: 100px;
    height: 100px;
    background:  transparent url("../images/advanced-settings.png") 0% 0% no-repeat
      padding-box;
    background-size: 100px;
}

#System-btn-img {
    margin: 16px auto;
    width: 100px;
    height: 100px;
    background:  transparent url("../images/system.png") 0% 0% no-repeat
      padding-box;
    background-size: 100px;
}

#Language-btn-img {
    margin: 16px auto;
    width: 100px;
    height: 100px;
    background:  transparent url("../images/language.png") 0% 0% no-repeat
      padding-box;
    background-size: 100px;
}

.advanced-settings-btn-text {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

/* System Page*/
.system-header {
    display: flex;
    overflow:auto;
    width: 100%;
    height: 70px;
    background: #424242;
}

.system-back-btn {
    margin: 12px 0 0 24px;
    width: 50px;
    height: 50px;
    background:  transparent url("../images/chevron.png") 0% 0% no-repeat
      padding-box;
    background-size: 25px;
    cursor: pointer;
}

.system-prev-page-title {
    margin-top: 24px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}

.system-title {
    margin-top: 18px;
    margin-left: 20%;
    font-size: 30px;
    font-weight: 500;
    color: #fff;  
}

.system-exit {
    margin-left: auto;
    margin-right: 32px;
    margin-top: -2px;
    font-size: 60px;
    font-weight: 100;
    color: #fff;
    cursor: pointer;
}

.system-main-container {
    display: flex;
}

.system-right {
    width: 50%;
    height: 500px;
}

.system-left {
    margin-top: 50px;
    width: 50%;
    height: 420px;
    border-right: 1px solid #fff;
}

.system-item-text {
    margin-left: 86px;
    margin-top: 32px;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.diagnostic-div {
    margin: auto;
    margin-top: 64px;
    width: 50%;
    height: 70px;
    padding: 32px 30px 0px 30px;
    background: #424242;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

#system-btn-default-div{
    margin: auto;
    margin-top: 64px;
    width: 50%;
    height: 70px;
    padding: 18px 30px 18px 30px;
    background: #424242;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.system-btn-div {
    margin: auto;
    margin-top: 64px;
    width: 50%;
    height: 70px;
    padding: 32px 30px 0px 30px;
    background: #424242;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

/* Language page */
.language-window-div {
    width: 100%;
    height: 100px;
    background: red;
}

.language-flag-div {
    margin: auto;
    width: 400px;
    height: 400px;
    background:  transparent url("../images/flag.png") 0% 0% no-repeat
      padding-box;
    background-size: 400px;
}
