.sixteen-gui {
    display: flex;
    width: 1000px;
    height: 588px;
    background: #212121
}

.sixteen-navigation {
    width: auto;
    height: 100%;
}

/* Navigation Buttons*/
.navigation-btns {
    width: 180px;
    height: 190px;
    background: rgb(66, 66, 66);
}

.navigation-btns:hover {
    cursor: pointer;
}

.home-icon-div {
    width: 90px;
    height: 90px;
    background: transparent url("../images/icon-home.svg") 0% 0% no-repeat
      padding-box;
    opacity: 1;
    background-size: 90px;
}

#sixteen-navigation-home {
    margin-bottom: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sixteen-navigation-home.active {
    width: 175px;
    border-right: 5px solid #0da9ff;
}

.home-icon-div.active {
    margin-left: 5px;
 }

#sixteen-navigation-aim {
    font-size: 48px;
    font-weight: 900;
    font-style: italic;
    color: #fff;
    margin-bottom: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sixteen-navigation-aim.active {
    width: 175px;
    border-right: 5px solid #0da9ff;
}

.aim-icon-div.active {
    margin-left: 5px;
}

#sixteen-navigation-settings {
    margin-top: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sixteen-navigation-settings.active {
    width: 175px;
    border-right: 5px solid #0da9ff;
}

.settings-icon-div {
    width: 90px;
    height: 90px;
    background: transparent url("../images/gear-icon.png") 0% 0% no-repeat
      padding-box;
    opacity: 1;
    background-size: 90px;
}

.settings-icon-div.active {
    margin-left: 5px;
}

/* Sixteen Home Screen Container*/
.sixteen-home-container {
    width: 100%;
    height: 100%;

}

/* Home container - Specialty, Ccu Functionality, Autolight/Defog*/
.home-containers{
    width: 100%;
    height: 33.33%;
}

/* Specialty Window Container */
.arrow-specialty-container {
    width: 99%;
    height: 90px;
    display: flex;
    justify-content: center;
    background: #212121;
}

#specialty-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Specialty Window */
.specialty-name {
    color: #fff;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 90px;
    background: #424242;
}

.arrow-div {
    width: 35px;
    height: 70px;
}

.arrow-div:hover {
    cursor: pointer;
}

#left-arrow-div {
    background: transparent url("../images/left-arrow.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 35px;
   
}

.specialty-window-container {
    padding-top: 120px;
    height: 100%;
   
}

.specialty-window-div {
    min-width: 500px;
    overflow: hidden;
    background-color: #000;
    border: 3px solid #424242;
}

.specialty-name.show {
    display: block;
    font-family: roboto;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
    color: #fff;
}

.specialty-name {
    display: none;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 90px;
    background: #424242;
}

.arrow-container:hover {
    cursor: pointer;
}

#right-arrow-div {
    background: transparent url("../images/right-arrow.png") 0% 0% no-repeat
      padding-box;
    opacity: 1;
    background-size: 35px;
}

/* Specialty Dots Container */
.dots-container {
    display: flex;
    justify-content: center;
    width: 95%;
    margin-top: 8px;
}

.dot-div {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 16px 8px;
    background-color: #37474f;
    border: 1px solid #bbb;
    border-radius: 50%;
    transition: 0.2s;
}

.dot-div.selected {
    background-color: #0da9ff;
   
}
.dot-div:hover {
   cursor: pointer;
   background-color: #0da9ff;
   transition: 0.2s;
}

/* CCU Functions */
#autolight-defog-container {
    height: auto;
}
#ccu-functions-container {
    max-width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 16px;
   
    
}
.function-btn-container {
    cursor: pointer;
    width: 160px;
    height: 120px;
    background: #424242;
    margin-top: auto;
}

#ccu-camera-img-div {
    width: 120px;
    height: 120px;
    margin-top: 25px;
    margin-left: 40px;
  
    background: transparent url("../images/camera-icon.png") 0% 0% no-repeat
      padding-box;
    opacity: 1;
    background-size: 80px;

}

#ccu-video-img-div {
    width: 120px;
    height: 120px;
    margin-top: 30px;
    margin-left: 35px;
  
    background: transparent url("../images/video-icon.png") 0% 0% no-repeat
      padding-box;
    opacity: 1;
    background-size: 95px;
}

/* Autolight defog Container*/
#autolight-defog-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 93%;
    height: 150px;
}

.wb-text {
    font-family: roboto;
    font-size: 60px;
    font-weight: 500;
    display:flex;
    justify-content: center;
    margin-top: 25px;
    color: #fff;
}
.defog-autolight-containers {
    margin-top: auto;
}

#defog-container {
    width: 50px;
    height: 50px;
    background: transparent url("../images/defog.png") 0% 0% no-repeat
      padding-box;
    opacity: 0.2;
    padding-bottom: 30px;
    background-size: 50px;
   
}

#autlight-circle-div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background: #37474f;
    border-radius: 50%;
    border: 2px solid #0da9ff;
}

#autolight-img-div {
    width: 40px;
    height: 40px;
    background: transparent url("../images/lightbulb-icon.png") 0% 0% no-repeat
      padding-box;
    opacity: .5;
    background-size: 40px;
  }


.autolight-text {
    color: #fff;
    font-family: roboto;
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
    margin-left: 8px;
}

/* AIM Home Screen*/
.aim-home-container {
    Width: auto;
    height: 100%;
}

.aim-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 99%;
    height: 75px;
    background: #424242;
    font-family: roboto;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
}

.aim-modality-container {
    margin-top: 25px;
    width: 100%;
    height: auto;
}

.modality-dots-container {
    display: flex;
    justify-content: center;
    width: 95%;
    height: 100px;
    margin: 0 auto;
    margin-top: 8px;
}


.modality-arrow-container {
    width: 99%;
    height: 90px;
    display: flex;
    justify-content: center;
    background: #212121;
}

.aim-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 90px;
    background: #424242;
}

.aim-modality-screen {
    min-width: 500px;
    overflow: hidden;
    background-color: #000;
    border: 3px solid #424242;
}

.modality-name {
    display: none;
}

.modality-name.show-modality {
    display: block;
    font-family: roboto;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
    color: #fff;
}

.aim-arrow-div {
    cursor: pointer;
    width: 35px;
    height: 70px;
}

#aim-left-arrow-div {
  background: transparent url("../images/left-arrow.png") 0% 0% no-repeat padding-box;
  opacity: 1;
  background-size: 35px;
}

#aim-right-arrow-div {
    background: transparent url("../images/right-arrow.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 35px;
  }
.modality-dot-div {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 16px 8px;
    background-color: #37474f;
    border: 1px solid #bbb;
    border-radius: 50%;
    transition: 0.2s;
}

.modality-dot-div.selected {
    background-color: #0da9ff;
   
}
.modality-dot-div:hover {
   cursor: pointer;
   background-color: #0da9ff;
   transition: 0.2s;
}

/* Gain Brightness */
.gain-brightness-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.gain-container {
    width: auto;
    height: 70px;
}

.gain-div {
    display: flex;
    width: 100%;
    height: 70px;
   
}

.gain-text {
    font-family: roboto;
    font-size: 25px;
    font-weight: 400;
    padding-top: 4px;
    color: #fff;
}

.gain-setting {
    font-family: roboto;
    font-size: 35px;
    font-weight: 400;
    padding-top: 4px;
    text-align: center;
    padding: 12px 0px;
    color: #fff; 
}

.brightness-container {
    width: 200px;
    height: 70px;
    background: lightcyan;
}

.minus-div {
    min-width: 100px;
    height: 70px;
    background: #424242
}

.gain-screen-div {
    min-width: 150px;
    background: #212121;  
    border: 3px solid #424242;
    overflow: hidden;
}

.plus-div {
    min-width: 100px;
    height: 70px;
    background: #424242
}
