body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
}

.mainbody {
    display: flex;
    flex-direction: row;
 
}

.gui-simulator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}